<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="list-button">
    <button type="button" name="button" [routerLink]="['pokemon']" class="button-49">LIST OF ALL POKEMON</button>
    </div>
    <h2>Pokemon Generations: </h2>
    <div class="div-buttons">
      <button type="button" name="button" [routerLink]="['pokemon/primeraGeneracion']"
        class="button-29">First</button>
      <button type="button" name="button" [routerLink]="['pokemon/segundaGeneracion']"
        class="button-29">Second</button>
      <button type="button" name="button" [routerLink]="['pokemon/terceraGeneracion']"
        class="button-29">Third</button>
      <button type="button" name="button" [routerLink]="['pokemon/cuartaGeneracion']" class="button-29">Fourth</button>
      <button type="button" name="button" [routerLink]="['pokemon/quintaGeneracion']" class="button-29">Fifth</button>
      <button type="button" name="button" [routerLink]="['pokemon/sextaGeneracion']" class="button-29">Sixth</button>
      <button type="button" name="button" [routerLink]="['pokemon/septimaGeneracion']"
        class="button-29">Seventh</button>
      <button type="button" name="button" [routerLink]="['pokemon/octavaGeneracion']" class="button-29">Eight</button>
      <button type="button" name="button" [routerLink]="['pokemon/novenaGeneracion']" class="button-29">Ninth</button>
    </div>
  </div>
</nav>